<html>

<head>
    <%- include('./template/header')%>
        <link rel="stylesheet" href="https://getbootstrap.com/docs/5.1/examples/sidebars/sidebars.css">
</head>

<body>
    <main>
        <%- include('./template/navbardashboard.ejs')%>
            <div class="col-md-10" style="padding: 50px;">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ID_PRODUCT</th>
                            <th scope="col">PRODUCT_NAME</th>
                            <th scope="col">PRODUCT_DESCRIPTION</th>
                            <th scope="col">PRODUCT_PRICE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(productData.length){ for(let i=0; i< productData.length; i++) {%>
                            <tr>
                                <th scope="row">
                                    <%= productData[i]._id%>
                                </th>
                                <td>
                                    <%= productData[i].PRODUCT_NAME%>
                                </td>
                                <td>
                                    <%= productData[i].PRODUCT_DESCRIPTION%>
                                </td>
                                <td>
                                    <%= productData[i].PRODUCT_PRICE%>
                                </td>
                            </tr>
                            <% }}%>
                    </tbody>
                </table>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ID_USER</th>
                            <th scope="col">USER_NAME</th>
                            <th scope="col">USER_LAST_LOGIN</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(userData.length){ for(let i=0; i< userData.length; i++) {%>
                            <tr>
                                <th scope="row">
                                    <%= userData[i]._id%>
                                </th>
                                <td>
                                    <%= userData[i].USER_NAME%>
                                </td>
                                <td>
                                    <%= userData[i].USER_LAST_LOGIN%>
                                </td>
                            </tr>
                            <% }}%>
                    </tbody>
                </table>
            </div>
    </main>
    <%- include('./template/js')-%>
</body>

</html>