<!doctype html>
<html lang="en">

<head>
    <%- include('./template/header')%>
</head>

<body>
    <%- include('./template/navbar')-%>
        <div class="container col-xxl-8 px-4 pt-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                    <img src="https://play-lh.googleusercontent.com/6EiJQZaiR6oniJyGB6JttE9wa1L8lAMa9xqVHKM9ZE2UCkYdOVl0rP8zP0fQKCHDKKg"
                        class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500"
                        loading="lazy">
                </div>
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold lh-1 mb-3">Belge App İşNet'te !</h1>
                    <p class="lead">Belge App ile GİB Portal'a giriş yapmaya gerek duymadan tüm E-belgelerinizi
                        oluşturabilir, E-belge İptal/ İtiraz Süreçlerinizi yönetebilirsiniz.</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <a class="btn btn-primary btn-lg px-4 me-md-2" href="/singup">Kayıt Ol</a>
                        <a class="btn btn-outline-secondary btn-lg px-4" href="/login">Giriş Yap</a>
                    </div>
                </div>
            </div>
        </div>
        <%- include('./template/card')-%>

        <%- include('./template/footer')-%>
            <%- include('./template/js')-%>
</body>

</html>